body{
    background-color: F0FFFF;
}

h1{
    background-color: #005eb8;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #005eb8;
    color: #fff;
}
form {
    border: 3px solid #005eb8;
    border-radius: 25px;
    background-color: #fff;
    width: 70%;
    position: relative;
    padding: 7px;
    left: 14%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3em;
}